{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div id='profile'>
        <h3>{{ utilisateur.pseudo }}</h3>
        <img src="{{ utilisateur.avatar}}" alt="User avatar" />
        <p>Nombre de messages postés : {{ messages }}</p>
        <p>Nombre de sujets créés : {{ sujets }}</p>
    </div>
{% endblock %}
