{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div>
        <img src="{{ app.user.avatar}}" alt="User avatar" />
        <h3>{{ app.user.pseudo }}</h3>
    </div>
{% endblock %}
